html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    /* padding-bottom: 280px; */
    font-family: 'Lato';
}

footer .container {
    max-height: auto;
    max-width: 100% !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    /* font-weight: bold; */
}

.main-logo-link {
    width: fit-content;
}

#delivery-animation {
    background-color: #0b542f;
    -webkit-animation-name: freeDelivery;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 3s; 
    transition: 0.3s;
}

.shop-now-button {
    background: #c83f49;
    color: white;
    min-width: 260px;
}

.btn-green {
    background: #0b542f;
    color: white;
}

.btn-outline-green {
    background: white;
    color: #0b542f !important; /* use important to override link colors for <a> elements */
    border: 1px solid #0b542f;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: #0b542f;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: #222;
    color: white;
}

.text-green {
    color: #0b542f !important;
}

.text-red {
    color: #c83f49;
}

.border-green {
    border: 1px solid #0b542f !important;
}

.bg-green {
    background-color: #0b542f !important;
}

.bg-red {
    background-color: #c83f49 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */


.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #0b542f;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Footer */

footer h2 {
    font-size: 2.3rem;
}

footer h6 {
    font-size: 1.5rem;
    margin-bottom: .4rem !important;
}

footer p {
    font-size: 1.1rem;
    margin-bottom: .2rem !important;
}

/*Mailchimp*/
.mc-field-group input {
    width: 400px;
    resize: horizontal !important;
}

.mc-field-group,
#mce-responses,
#mc-embedded-subscribe {
    padding: 1px;
    margin: 1px;
}

#mc_embed_signup form {
    margin: 1px !important;
}

#mc-embedded-subscribe {
    margin: 1.75em 0 0em 5% !important;
}

#mc_embed_signup .mc-field-group {
    width: 100% !important;
}

#mc_embed_signup .mc-field-group label {
    font-size: .7rem;
}

#mc_embed_signup .mc-field-group input {
    padding: 0 !important;
}

/* -------------------------------- Animations */

@-webkit-keyframes freeDelivery {  
    0% {background-color:#0b542f;}
    50% {background-color:#c83f49;}
    100% {background-color:#0b542f;}
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
    max-width: 80%;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #0b542f;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0b542f;
    border: 1px solid #0b542f;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-green, {
        font-size: 2rem;
        font-weight: bold;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
    
    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-green.rounded-0,
    .btn.btn-green.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-green.rounded-0.btn-lg,
    .btn.btn-green.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    footer h2 {
        font-size: 1rem;
    }

    footer h6 {
        font-size: .9rem;
        margin-bottom: .4rem;
    }

    footer p {
        font-size: .8rem;
        margin-bottom: .2rem !important;
    }

    #mc_embed_signup form {
        margin: 0;
    }

    #mc_embed_signup .mc-field-group label {
        font-size: .5rem;
    }

    #mc_embed_signup input {
        font-size: .7rem;
    }

    #mc-embedded-subscribe {
        margin: 1.55rem 0 0rem 5% !important;
    }
}
