<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-green mr-4" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-green mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Berries</a>
            </div>
        </li>
        <li>
            {% if request.user.is_authenticated %}
                <a href="{% url 'view_wishlist' %}" class="logo-font font-weight-bold nav-link text-green mr-5">Wishlist</a>
            {% endif %}
        </li>
        <li>
            <a href="{% url 'contact' %}" class="logo-font font-weight-bold nav-link text-green mr-5">Contact</a>
        </li>
    </ul>
</div>