{% extends "base.html" %}
{% load static %}
{% load summernote %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock css %}

{% block postloadjs %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock js %}
