{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font text-center custom-margin">Contact Us</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-6 mt-3">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div>
                        <button class="btn btn-green rounded-0 text-uppercase float-left mb-2" type="submit" aria-label="Sends message to the shop">Send</button>
                        <span class="small float-right">* required</span>
                    </div>
                </form> 
            </div>
        </div>
        <hr class="col-12 d-none d-xl-block mb-5 w-50">
    </div>
{% endblock %}
